  <app-profile-navbar></app-profile-navbar>
  <div class="container mt-4" *ngIf="addressForm">
  <div class="header">
    <h3>Shipping Address</h3>
    <p class="text-muted">View or edit your shipping address.</p>
  </div>

  <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">   
      <div class="form-row">
        <div class="form-group">
          <label for="country">Country</label>
          <input 
            type="text" 
            id="country"
            formControlName="country" 
            class="form-control">
        </div>
        
        <div class="form-group">
          <label for="city">City</label>
          <input 
            type="text" 
            id="city"
            formControlName="city" 
            class="form-control">
        </div>
    </div>

      <div class="form-row">
        <div class="form-group">
          <label>Street</label>
          <input 
            type="text" 
            formControlName="street" 
            class="form-control">
        </div>
        
        <div class="form-group">
            <label>Building Number</label>
                <input 
                type="text" 
                formControlName="buildingNo" 
                class="form-control">
        </div>
      </div>

    <div class="form-row mt-4">
      <button 
        type="submit" 
        class="btn btn-primary"
        [disabled]="addressForm.invalid">
        Save
      </button>
    </div>
  </form>
    
  <!-- Status Message -->
    <div *ngIf="status === 'success'; else error" class="alert alert-success" role="alert">
    Shipping Address updated successfully!
    <button class="close-btn" (click)="close()">x</button>
    </div>

    <ng-template #error>
    <div *ngIf="status === 'error'" class="alert alert-danger" role="alert">
        Failed to update shipping address. Please try again.
        <button class="close-btn" (click)="close()">×</button>
    </div>
    </ng-template>
</div>
