<div class="container my-4">
  <h5>Orders Table</h5>
  <p class="text-muted">Here is all your system's orders.</p>
  
  <!-- Orders Table -->
  <table class="table table-hover align-middle">
    <thead class="table-light">
      <tr>
        <th>Order Id</th>
        <th>User Id</th>
        <th>Payment Method</th>
        <th>Total Cost</th>
        <th>Ordered At</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders | paginate: { itemsPerPage: itemsPerPage, currentPage: page };">
        <td>{{ order.id }}</td>
        <td>{{ order.userId }}</td>
        <td>{{ order.paymentMethod }}</td>
        <td>EGP {{ order.totalCost }}</td>
        <td>{{ order.orderedAt | date: 'fullDate' }}</td>
        <td>
          <span class="badge"
                [ngClass]="{
                  'bg-primary': order.status === 'SHIPPED',
                  'bg-success': order.status === 'DELIVERED',
                  'bg-danger': order.status === 'FAILED',
                  'bg-secondary': order.status === 'PENDING'
                }">
            {{ order.status }}
          </span>        
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls
        class="d-flex justify-content-center"
        (pageChange)="page = $event"
        [maxSize]="5"
        [directionLinks]="true">
  </pagination-controls>

</div>
