<br><br><br>
<div class="sub_banner_outer position-relative">
  <!-- Sub Banner -->
  <section class="thank-you position-relative">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-12 mx-auto">
          <div class="thank_you_content text-center" data-aos="fade-up">
            <figure class="thankyou-image">
              <img src="./thankyou-image.png" alt="image" class="img-fluid" />
            </figure>
            <h1>Thank You!</h1>
            <p>
              We're delighted you've decided to treat yourself to our delectable products.
              Your order has been received and is now being prepared with care.
              We've also sent you an email with your order details, be sure to check it out.
            </p>
            <a routerLink="" class="btn back-home-btn">
              <i class="fa-solid fa-arrow-left me-1"></i>Back to Home
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>