<section class="banner-con position-relative">
  <div class="container position-relative">
    <div class="row align-items-center">
      <div class="col-xl-7 col-lg-6 col-md-12">
        <div class="banner_content" data-aos="fade-up">
          <h3>Made to Delight</h3>
          <h1><span>Breads & <br />Pastries</span></h1>
          <p>Sweet, buttery, and baked with love.</p>
          <a routerLink="/products" class="text-decoration-none all_button">
            Shop the Menu <i class="fa-solid fa-arrow-right"></i>
          </a>
        </div>
      </div>
      <div class="col-xl-5 col-lg-6 col-md-12 text-center">
        <figure class="banner-rightimage mb-0">
          <img src="bannertest2.png" alt="image" class="img-fluid" />
        </figure>
      </div>
    </div>
  </div>
</section>
