<br>
<div class="card shadow-sm rounded-4 p-4">
  <h5 class="fw-bold mb-3">Order Summary</h5>

  <!-- Product Item -->
  <div *ngFor="let item of cartItems" class="d-flex justify-content-between mb-2">
    <div>
      <div class="fw-semibold">{{ item.quantity }} x {{ item.name }}</div>
      <small class="text-muted">{{ item.description }}</small>
    </div>
    <div class="fw-semibold">{{ item.unit_price * item.quantity | number:'1.2-2' }}</div>
  </div>

  <hr>

  <!-- Grand Total -->
  <div class="d-flex justify-content-between mt-3">
    <strong>Grand Total</strong>
    <strong class="text-pink">EGP {{ totalCost | number:'1.2-2' }}</strong>
  </div>
</div>