  <app-profile-navbar></app-profile-navbar>
  <div class="container mt-4" *ngIf="passwordForm">
  <div class="header">
    <h3>Change Password</h3>
    <p class="text-muted">Change your current password.</p>
  </div>

  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">   
      <div class="form-row">
        <div class="form-group">
          <label for="oldPass">Old Password</label>
          <input 
            type="password" 
            id="oldPass"
            formControlName="oldPass" 
            class="form-control">
        </div>
        
        <div class="form-group">
          <label for="newPass">New Password</label>
          <input 
            type="password" 
            id="newPass"
            formControlName="newPass" 
            class="form-control">
        </div>
     </div>

    <div class="form-row mt-4">
      <button 
        type="submit" 
        class="btn btn-primary"
        [disabled]="passwordForm.invalid">
        Save
      </button>
    </div>
  </form>
    
  <!-- Status Message -->
    <div *ngIf="status === 'success'; else error" class="alert alert-success" role="alert">
    Password changed successfully!
    <button class="close-btn" (click)="close()">x</button>
    </div>

    <ng-template #error>
    <div *ngIf="status === 'error'" class="alert alert-danger" role="alert">
        Failed to change password Please try again.
        <button class="close-btn" (click)="close()">×</button>
    </div>
    </ng-template>
</div>
