<section class="footer-con position-relative">
  <figure class="footer-image mb-0">
    <img class="img-fluid" src="left4.png" alt="image" />
  </figure>
  <div class="container">
    <div class="middle_portion">
      <div class="row">
        <div class="col-lg-2 col-md-12 col-sm-6 col-12 order-md-1 order-sm-1 order-1">
          <a routerLink="/home" style="width: 50%; height: 30%;">
            <figure class="footer-logo mb-0">
              <img class="img-fluid" src="testlogo.png" alt="logo" />
            </figure>
          </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-12 order-md-2 order-sm-4 order-2">
          <div class="links">
            <h5 class="heading">Navigation</h5>
            <div class="pages">
              <ul class="list-unstyled mb-0 list1">
                <li><i class="fas fa-home"></i><a routerLink="/home">Home</a></li>
                <li><i class="fas fa-shop"></i><a routerLink="/shop">Shop</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-12 order-md-3 order-sm-3 order-3">
          <div class="info">
            <ul class="list-unstyled mb-0">
              <li>
                <i class="fa-solid fa-location-dot"></i>
                <div class="text">
                  <span>Address:</span>
                  <a class="text-decoration-none address mb-0"
                     href="https://www.google.com/maps/place/ITI,+Smart+Village-Egypt">
                    ITI, Smart Village-Egypt
                  </a>
                </div>
              </li>
              <li>
                <i class="fas fa-envelope-open-text"></i>
                <div class="text">
                  <span>Email:</span>
                  <a class="text-decoration-none" href="mailto:Ma5boozBakery@gmail.com">
                    {{email}}
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-12 order-md-4 order-sm-2 order-4">
          <div class="icon">
            <div class="phone_wrapper">
              <i class="fa-solid fa-phone phone"></i>
              <div class="phone_content">
                <a href="tel:+568925896325" class="text-decoration-none d-block">17002</a>
                <span>Got Questions? Call us available 24/7</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="copyright">
      <p class="mb-0">Copyright © 2024 icedelights All rights reserved.</p>
    </div>
  </div>
</section>

<!-- Loader -->
<div class="loader-mask">
  <div class="loader">
    <div></div>
    <div></div>
  </div>
</div>
